cooler
dask==2024.8.2
dask[dataframe]
django==4.2
django-filter==23.5
djangorestframework==3.14.0
keras==2.15.0
keras-preprocessing==1.1.2
pandas==2.2.2
scikit-learn==1.5.1
scikit-image==0.24.0
scipy==1.14.1
tensorflow==2.15.0
slugid==2.0.0
channels==4.1
numpy==1.24.3
daphne==4.1.2
